/* ========== import custom styles ========== */
@import "custom-styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }
  .container {
    @apply max-w-[1112px] mx-auto px-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  p,
  li,
  a {
    @apply font-inter text-dark-gray;
  }
  .footer-icons {
    @apply flex items-center justify-center p-4 border rounded-lg dark:text-light border-dark dark:border-light;
  }
}

:root {
  --lavender-blush: #ffeaeeff;
  --midnight-green: rgb(30, 100, 92);
  --midnight-green-2: rgba(30, 100, 92, 0.65);
  --naples-yellow: #ffe066ff;
  --dark-purple: #48233cff;
  --tomato: #ff4b3eff;
}