---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Contact Me"}
      description={"All my contact info is here."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;">ABOUT ME</h1>
    </Layout>
  </body>
</html>