---
import { info } from "@data";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import Experience from "@components/home/Experience.astro";
import Skills from "@components/home/Skills.astro";
import Hero from "@components/home/Hero.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"About Me"}
      description={"Information about myself"}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 container items-center">
        <h1 class="text-6xl dark:text-light text-dark mt-4 md:mt-0">
          About Me
        </h1>
        <p class="mb-8 text-lg dark:text-light text-dark">
          Thank you for visiting my portfolio!
        </p>
      </div>
      <div class="flex flex-col md:flex-row">
        <img
          sizes="(min-width: 560px) 480px, 88.33vw"
          width="480"
          height="620"
          srcset="
        ../../assets/images/danielyosemite_rsil0q_c_scale,w_200.jpg 200w,
        ../../assets/images/danielyosemite_rsil0q_c_scale,w_680.jpg 680w,
        ../../assets/images/danielyosemite_rsil0q_c_scale,w_950.jpg 950w,
        ../../assets/images/danielyosemite_rsil0q_c_scale,w_1238.jpg 1238w,
        ../../assets/images/danielyosemite_rsil0q_c_scale,w_1400.jpg 1400w"
          src="../../assets/images/danielyosemite_rsil0q_c_scale,w_1400.jpg"
          alt="Daniel with a waterfall in background in yosemite"
          class="rounded-xl"
        />
        <p class="dark:text-light text-dark text-xl mx-4 mt-8 md:my-0">
          Hi! My name is {info.name} and I'm a software enginner looking for new
          growth opportunities. I would describe myself as a hardworking guy with
          a passion for learning and growth. When I'm not busy pursuing my interests,
          you can find me tinkering with my truck and speakers. I also enjoy being
          in nature walking my dogs or just traveling.
        </p>
      </div>
      <Experience title={"EDUCATION"} details={info.education} />
      <Skills title={"SKILLS"} details={info.skill} />
    </Layout>
  </body>
</html>
