---
import ContactMe from '@components/general/ContactMe.astro'
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Contact Me"}
      description={"All my contact info is here."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 container items-center">
        <h1 class="text-6xl sm:text-8xl dark:text-light text-dark mt-[117px] md:mt-0">Contact Me</h1>
        <p class="mb-16 text-lg dark:text-light text-dark">
          Here are some ways to contact me!
        </p>
      </div>
      <ContactMe />
    </Layout>
  </body>
</html>
