---
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Contact Me"}
      description={"All my contact info is here."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 container items-center">
        <h1 class="text-6xl dark:text-light text-dark mt-4 md:mt-0">
          Get in touch with me!
        </h1>
        <p class="mb-8 text-lg dark:text-light text-dark">
          My email is the best way to contact me!
        </p>
      </div>

      <a
        class="flex items-center justify-center"
        href="mailto: dolphanoe@gmail.com"
        style="background-image: url(#visual);"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-mail dark:text-light"
          ><path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path><polyline points="22,6 12,13 2,6"></polyline>
        </svg>
        <p class="mx-4 text-2xl dark:text-light text-dark underline">
          dolphanoe@gmail.com
        </p>
      </a>

      <svg
        id="visual"
        viewBox="0 0 900 600"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
      >
        <g transform="translate(462.61582604746854 295.43982134546445)">
          <path
            id="blob1"
            class="fill-[var(--midnight-green)] dark:fill-[var(--tomato)]"
            d="M178.4 -175.9C215.4 -141.4 218.7 -70.7 204.1 -14.6C189.5 41.5 157 83 120 127.1C83 171.3 41.5 218.2 3.1 215.1C-35.4 212 -70.7 159 -117.7 114.9C-164.7 70.7 -223.4 35.4 -235.1 -11.8C-246.9 -58.9 -211.9 -117.9 -164.9 -152.4C-117.9 -186.9 -58.9 -196.9 5.9 -202.8C70.7 -208.7 141.4 -210.4 178.4 -175.9"
          ></path>
        </g>
        <g transform="translate(405.1031242386699 295.0261486067909)">
          <path
            id="blob2"
            class="hidden"
            d="M181.5 -157.5C231.5 -131.5 265.8 -65.8 250.6 -15.2C235.4 35.4 170.7 70.7 120.7 105.4C70.7 140 35.4 174 -7.4 181.4C-50.2 188.9 -100.4 169.7 -126.7 135.1C-153.1 100.4 -155.5 50.2 -160.1 -4.6C-164.7 -59.4 -171.5 -118.8 -145.1 -144.8C-118.8 -170.8 -59.4 -163.4 3.2 -166.6C65.8 -169.8 131.5 -183.5 181.5 -157.5"
          ></path>
        </g>
      </svg>
    </Layout>

    <script type="module">
      import kuteJs from "https://cdn.jsdelivr.net/npm/kute.js@2.2.4/+esm";

      var tween = kuteJs
        .fromTo(
          "#blob1",
          { path: "#blob1" },
          { path: "#blob2" },
          { repeat: 999, duration: 3000, yoyo: true }
        )
        .start();
    </script>
  </body>
</html>
