---
import { info } from "@data";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Projects"}
      description={"All projects are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 container items-center">
        <h1 class="text-6xl dark:text-light text-dark mt-4 md:mt-0">
          Projects
        </h1>
        <p class="mb-16 text-lg dark:text-light text-dark">
          As a recent graduate, I have had the opportunity to work on a variety
          of personal projects. I have also worked on a few group projects that
          involved collaborating with other developers to build software
          applications. Overall, my experience as a software engineer has
          allowed me to develop a strong foundation in programming languages,
          software development methodologies, and teamwork skills. I am excited
          to continue building my skills and contributing to the development of
          innovative software applications. Take a look at some of my projects:
        </p>
      </div>
      <ProjectsWrapper projects={Projects} />
    </Layout>
  </body>
</html>
