---
import { info } from "@data";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Projects"}
      description={"All projects are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <div class="flex flex-col gap-4 container items-center">
        <h1 class="text-6xl sm:text-8xl dark:text-light text-dark mt-[117px] md:mt-0">Projects</h1>
        <p class="mb-16 text-lg dark:text-light text-dark">
          A look at some of my projects: 
        </p>
      </div>
      <ProjectsWrapper projects={Projects} />
    </Layout>
  </body>
</html>
