<!-- Grid Container -->
<div class="grid grid-cols-12 gap-4 mx-auto 2xl:w-4/5">
  <!-- Card 1 -->
  <div
    class="md:col-span-8 col-span-12 max-h-[520px] container rounded-xl load3"
  >
    <div class="w-full h-full stacked-gradient rounded-xl">
      <div class="h-full w-full max-h-[520px] card">
        <div
          class="w-full h-full transition duration-550 card-content hover:text-white"
        >
          <p class="text-[6vmin] font-medium">
            Hello, I'm Daniel, a full stack developer.
          </p>
          <p class="text-[3vmin] mt-[1vmin] font-normal">
            I'm a quick learner who is eager to gain experience in my career
            field.
          </p>
          <p class="text-[2vmin] mt-[1vmin] font-normal">
            B.S. Computer Science from UH
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div
    class="md:col-span-4 col-span-12 max-h-[520px] container rounded-xl load2"
  >
    <img src="assets/face.jpg" class="object-cover w-full h-full rounded-xl" />
  </div>
  <!-- Card 3 -->
  <div class="col-span-6 max-h-[520px] load4">2</div>
  <!-- Card 4 -->
  <div class="col-span-6 max-h-[520px] load4">3</div>
</div>
